body{
  font-family: 'Raleway', sans-serif;
  margin: 0;
  padding: 0;
}
h1,
h3,
h2 {
  font-family: 'Raleway', sans-serif;
  color: #fff;
  margin: 0;
  padding: 0;
}

/* Centered texts in each section
* --------------------------------------- */
.section {
  text-align: center;
}


/* Backgrounds will cover all the section
* --------------------------------------- */
#section0,
#section1,
#section2,
#section3,
#slide1,
#slide2 {
  background-size: cover;
  background-attachment: fixed;
}

/* Defining each sectino background and styles
* --------------------------------------- */
#section0 {
  background-image: url(../imgs/back.jpg) ;
  background-position: center;
  height:100vh;
}

@media only screen and (max-device-width:490px){
  #section0 {
    background-position: center bottom 25vh;
  }
}

#section0 h1 {
  top: 37%;
  /* transform: translateY(-37%); */
  position: relative;
  font-size: 5em;
}

#section0 h3 {
  top: 38%;
  transform: translateY(-38%);
  position: relative;
  font-size: 3rem;
}

#section1 h2 {
  top: 0%;
  transform: translateY(-0%);
  position: relative;
  font-size: 4rem;
}

.jam{
  background-image: url(../imgs/jam.jpeg);
  /* background-blend-mode: overlay; */
}



button {
  position: relative;
  display: inline-block;
  cursor: pointer;
  outline: none;
  border: 0;
  vertical-align: middle;
  text-decoration: none;
  font-size: inherit;
  font-family: inherit;
  margin-top: 20px;
}
button.learn-more {
  transition: all 0.5s cubic-bezier(0.65, -0.25, 0.25, 1.95);
  font-weight: 900;
  color: #202121;
  padding: 0.7rem 1rem;
  background: #fff;
  text-transform: uppercase;
}
button.learn-more:hover, button.learn-more:focus, button.learn-more:active {
  letter-spacing: 0.125rem;
}

#frameit{
  background-image: url(../imgs/frm.jpeg);
  
}
